<!DOCTYPE html>
	<head>
		<meta charset="utf-8">
		<title>Realtime Manhattan</title>
		<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/0.9.16/socket.io.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
		<script src="http://d3js.org/d3.v3.min.js"></script>
		<script src="http://d3js.org/topojson.v1.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
		<style>
			body{
				margin: 0;
				padding: 0;
				top: 0;
				left: 0;
			}
		</style>
	</head>
	<body>
	<script>
		var width = $(window).width(),
		    height = $(window).height();

		var treasure_map = ['#568C82', '#D9C8A9', '#BF884A', '#363535', '#B52A33'];
		var vintage_map = ['#262401', '#A6A381', '#8DA387', '#261501', '#0D0300'];
		var city_map = ['#BF2C38', '#BFD1D9', '#A6BFA3', '#84A651', '#6A9CB3'];
		var nyc_map = ['#F21D2F', '#6DDAF2', '#B8D971', '#EBF2B6', '#BFB99B'];

		var projection = d3.geo.albers()
			.center([0, 40.71])
			.rotate([74.0, 0])
			.parallels([50, 60])
			.scale(105000)
			.translate([width / 2, height / 2]);

			
			d3.json("static/nyc.json", function(error, nyc) {
				if (error) return console.error(error);

				var zoom = d3.behavior.zoom()
					.scaleExtent([1, 8])
					.on("zoom", move);

				var svg = d3.select("body").append("svg")
				    .attr("width", width)
				    .attr("height", height)
				    .style('background-color', nyc_map[1])
				    .attr("transform", "translate(" + width / 2 + "," + height / 2 + ")")
				    .call(zoom);

				var subunits = topojson.feature(nyc, nyc.objects.boroughs);

				var path = d3.geo.path()
					.projection(projection)
					.pointRadius(2);

				

				var land = svg.append("path")
					.datum(subunits)
					.attr("d", path)
					.style('fill', nyc_map[3]);

				function fade_out(point){
					point.transition()
						.duration(1250)
						.style('opacity', '0')
						.delay(5000);
				}

				function new_tweet(lat, longitude){
					var point = svg.append("path")
						.datum({type: "MultiPoint", coordinates: [{'0' : String(longitude), '1' : String(lat)}]})
						.attr("class", "points")
						.attr("d", path)
						.style('fill', nyc_map[0])
						.style('opacity', '0');
					point.transition()
						.duration(1250)
						.style('opacity', '1')
						.each('end', fade_out(point));
				}

				var points = d3.selectAll('.points');

				function move() {
					var t = d3.event.translate,
						s = d3.event.scale;
						t[0] = Math.min(width / 2 * (s - 1), Math.max(width / 2 * (1 - s), t[0]));
						t[1] = Math.min(height / 2 * (s - 1) + 230 * s, Math.max(height / 2 * (1 - s) - 230 * s, t[1]));
						zoom.translate(t);
					
					land.attr("transform", "translate(" + t + ")scale(" + s + ")");
					points.attr("transform", "translate(" + t + ")scale(" + s + ")");
				}

				var ws;
			var host = 'localhost';
			var port = '8888';
			var uri = '/ws';
			ws = new WebSocket("ws://" + host + ":" + port + uri);
			ws.onmessage = function(evt) {
				var data = JSON.parse(evt.data);
				if(data.type == 'files'){
					console.log(data.files)
				}else if(data.type == 'tweet'){
					new_tweet(data.tweet.latitude, data.tweet.longitude);
				}

			};
			ws.onclose = function(evt) { console.log("Connection close"); };
			ws.onopen = function(evt) { 
				$("#host").css("background", "#00ff00"); 
				$("#port").css("background", "#00ff00"); 
				$("#uri").css("background", "#00ff00");
			};

			});
	</script>
	</body>
</html>